section
	.inner
		.container
			.row
				.col-12
					h2.title приветственная речь
					.dfr
						img(src="img/photo.png", alt="")
						.desc
							h1 Шестаков Василий Борисович
							p Председатель Исполнительного комитета Международной общественной организации содействия науке и спорту «Спорт, Человек, Здоровье», Санкт-Петербург, Россия.
							p Президент Международной Федерации Самбо (ФИАС), Лозанна, Швейцария.
					h2 Уважаемые гости и участники Конгресса!
					p В Санкт-Петербурге — одном из самых красивых городов мира в апреле 2021 года пройдет юбилейный X МЕЖДУНАРОДНЫЙ НАУЧНЫЙ КОНГРЕСС «СПОРТ, ЧЕЛОВЕК, ЗДОРОВЬЕ».
					p Выбор Санкт-Петербурга местом проведения Конгресса является не случайным, ведь Санкт-Петербург – не только один из знаменитых и великолепнейших городов мира, это также и город с богатыми спортивными традициями, школами воспитания чемпионов, показательной научной школой. Уроженцев города на Неве – знаменитых спортсменов, тренеров, ведущих научных специалистов – знают во всем мире.
					p Основное научное направление Конгресса «Перспективы укрепления и развития Олимпийского движения. Проблемы современного спорта».
					p На Конгрессе в течение трех дней эксперты из разных областей будут делиться своим опытом, новыми данными и достижениями в сфере спорта и здоровья.
					p Конгресс имеет значительный авторитет, поскольку с первого своего заседания в 2003 году регулярно (раз в два года) собирал ведущих ученых и экспертов в вопросах развития современного спорта, спортивной медицины, социальных и правовых аспектов физической культуры.
					p Опыт работы, накопленный в Санкт-Петербурге за последние годы в данной сфере, позволяет ему стать передовым центром для внедрения новых технологий и подходов в практическом оздоровлении населения средствами физической культуры и спорта.
					p Своей основной целью Конгресс ставит необходимость использования результатов академических и научных исследований, обмен опытом и лучшими методиками по продвижению и поощрению физической активности и занятиями спортом, изучение соответствующего международного опыта.
					p Физическая активность и спорт должны способствовать формированию современного стиля жизни, дающего возможность продлить творческий период человеческой деятельности. Спорт и физическая активность призваны стать для человека специфической школой работы над собой, своим здоровьем, физической подготовленностью и красотой.
					p Желаю всем участникам Конгресса плодотворной работы, интересных дискуссий, укрепления партнёрских и дружеских контактов и, конечно, ярких впечатлений от встреч с нашим прекрасным городом!
