section
	.first-block.map-block
		.container
			.row
				.col-12
					h2.title Контакты
					h1.title Где нас найти
					#map
					ul.contacts
						li.icon-phone
							a(href="tel:+78125712234") +7 /812/ 571-22-34
							a(href="tel:+79112393036") +7 /911/ 239-30-36
						li.icon-email
							a(href="mailto:sporthealth.spb@gmail.com") sporthealth.spb@gmail.com
						li.icon-marker 191186, Санкт-Петербург, ул. Малая Морская, д. 8 офис МОО «Спорт, Человек, Здоровье», этаж 2, кабинет 24
