section
	.first-block
		.container
			.row
				.col-12
					.desc
						h2.title программа и мероприятия
						h1.title Расписание работы Конгресса*
						.event
							h4 27 октября
							p Регистрация участников, Церемония открытия Конгресса, пленарное заседание,  панельные сессии, открытие выставки.
						.event
							h4 28 октября
							p Работа научных секций, панельных сессий, круглых столов, мастер-классов, тренингов.
						.event
							h4 29 октября
							p Заключительное пленарное заседание, награждение молодых авторов лучших научных статей «Перспективная инновационная идея», закрытие Конгресса, культурная программа (экскурсии, выездные площадки:  посещение спортивных объектов Санкт-Петербурга).
						h3 *Организационный комитет Конгресса оставляет за собой возможность внесения корректировки программы.
							br
							br
							| Полная расширенная версия программы мероприятий Конгресса будет размещена марте-апреле 2021 года.
	.program
		.container
			.row
				.col-12
					h2.title Программа и мероприятия
			.row.row-cols-3
				.col
					h3(style="background-color:#0DA2E0;") 27 октября
					ul
						li 09.00-10.30
							p Регистрация участников Конгресса
						li 10.30- 10.50
							p Открытие ВЫСТАВКИ «СПОРТ И ЗДОРОВЬЕ»
						li 11.00- 13.00
							p Торжественная церемония открытия Конгресса
						li 11.00- 13.00
							p Приветствия участников Конгресса
						li 11.00- 13.00
							p Пленарное заседание
						li 13.00- 14.00
							p Пресс-подход
						li 13.00- 14.00
							p Работа выставки
						li 13.00- 14.00
							p Перерыв (обед)
						li 14.00- 16.00
							p Продолжение работы пленарного заседания
						li 16.00- 16.30
							p Перерыв (кофе-брейк)
						li 16.30 —18.00
							p Работа выставки «Спорт и Здоровье»  (презентация программ выставки)
				.col
					h3(style="background-color:#72C1AD;") 28 октября
					ul
						li 10.00-18.00
							p Работа научных секций
						li 10.00-18.00
							p Панельные дискуссии
						li 10.00-18.00
							p Круглые столы
						li 10.00-18.00
							p Конференции
						li 10.00-18.00
							p Мастер-классы (тренинги)
						li 10.00-18.00
							p Работа выставки «Спорт и Здоровье»
						li 11.30- 12.00
							p Перерыв (кофе-брейк)
						li 13.00- 14.00
							p Перерыв (обед)
						li 16.00- 16.30
							p Перерыв (кофе-брейк)
				.col
					h3(style="background-color:#F97C55;") 29 октября
					ul
						li 10.00-13.00
							p Работа выставки
						li 10.00-13.00
							p Заключительное пленарное заседание
						li 10.00-13.00
							p Принятие Резолюции Конгресса
						li 10.00-13.00
							p Церемония награждения молодых авторов лучших научных статей «Перспективная инновационная идея»
						li 10.00-13.00
							p Закрытие Конгресса
						li 13.00- 14.00
							p Перерыв (обед)
						li 14.00-18.00
							p Культурная программа (экскурсии, выездные площадки)
			.row
				.col-12
					h2.title Научная программа Конгресса
					p Научная программа будет сконцентрирована на главных темах, заявленных на пленарном заседании основными докладчиками, которые обозначат наиболее важные и актуальные вопросы для рассмотрения на секционных заседаниях. За пленарным заседанием последуют научные секции, время для устных прений и стендовых докладов, панельные сессии, конференции, мастер-классы.
					h3(style="background-color:#0DA2E0;") 28 октября (Научные секции и панельные сессии)
					ul
						li Научная секция № 1
							p «Историческое наследие П.Ф.Лесгафта в контексте решения современных проблем физической культуры и спорта».
						li Научная секция № 2
							p «Перспективы укрепления и развития Международного олимпийского движения, паралимпийского, сурдлимпийского спорта и Всемирного движения  «Спорт для всех» в мировом спортивном движении».
						li Научная секция № 3
							p «Пути преодоления применения в спорте запрещенных препаратов и методов. Комплексное рассмотрение проблем допинга в современном спорте».
						li Научная секция № 4
							p «Научно-методическое обеспечение спорта высших достижений. Актуальные проблемы современной спортивной подготовки».
						li Научная секция № 5
							p «Психологическое обеспечение современного спорта и занятий неструктурированной умеренно-интенсивной физической активностью».
						li Научная секция № 6
							p «Актуальные проблемы гендерных исследований в современном спорте».
						li Научная секция № 7
							p «Медико-биологическое обеспечение спортивной подготовки и занятий неструктурированной умеренно-интенсивной физической активностью».
						li Научная секция № 8
							p «Медицинское обеспечение спортивной деятельности, лечение и реабилитация в спорте».
						li Научная секция № 9
							p «Коммуникации в спорте и спортивная дипломатия».
						li Научная секция № 10
							p «Мега-проекты в спорте и их наследие».
						li Научная секция № 11
							p «Актуальные вопросы адаптивной физической культуры и адаптивного спорта».
						li Научная секция № 12
							p «Инновационные проекты и передовые практики, направленные на гармоничное развитие личности в системах физической культуры и спорта, здравоохранения  и образования различных стран мира».
						li Научная секция № 13
							p «Перспективы развития подготовки и повышения квалификации кадров для сферы физической культуры и спорта в современных условиях».
						li Научная секция № 14
							p «Актуальные проблемы современных спортивных, прикладных единоборств и боевых искусств».
