section
	.first-block
		.container
			.row
				.col-12
					.desc
						h2.title партнерство
						h1.title Стать партнёром Конгресса
						p Если Вас заинтересовала возможность стать партнером  X Международного Конгресса «Спорт, Человек, Здоровье»,  Вы можете заполнить форму, которую найдёте ниже, и мы в ближайшее время свяжемся с Вами.
						.contact-block
							h3 КОНТАКТЫ ОРГАНИЗАТОРОВ:
								span Галина Леонтьева:
							ul.contacts
								li.icon-phone
									a(href="tel:89112393036") 8-911-239-30-36
								li.icon-email
									a(href="mailto:sporthealth.spb@gmail.com") sporthealth.spb@gmail.com
	.content
		.container
			.row
				.col-12
					h2.title Выставка “Спорт и здоровье”
					p В рамках Программы X Международного Конгресса «Спорт, Человек, Здоровье», пройдет  выставка, в которой примут участие ведущие российские  и международные специалисты в областях практической реализации спортивных проектов, спортивного маркетинга, инвестиций в спорт и пр. для обсуждения актуальных тем развития партнерства в области спорта, здоровья и здорового образа жизни, обмена опытом и успешными практиками, налаживания связей среди профессионального сообщества.
					p Выставка как многофункциональное мероприятие позволяет экспоненту одновременно ставить перед собой различные цели и задачи выставок, если поставлена  конкретная цель – это позволяет разработать план их достижения, что неизменно определяет как внешний вид стенда, так и используемые инструменты маркетингового продвижения и рекламной кампании. Для этого используется весь арсенал инструментов от наружной рекламы до раздачи флайеров и развешивания указателей.
					p Как показывает практика, все участники выставки получают выгоду – это касается как экспонентов, так и гостей мероприятия. Возможность ознакомления с текущим состоянием дел на отраслевом рынке, изучения новинок, сравнения цен и ознакомления с предлагаемым ассортиментом делает выставку отличной маркетинговой площадкой для любого предприятия на рынке В2В.
					p На выставочном пространстве Форума Ваша компания может представить свою продукцию и услуги участникам и гостям Конгресса, наладить деловые контакты, повысить узнаваемость бренда. Создать площадку для обмена опытом и успешными практиками. Наладить и укрепить связи среди профессионального сообщества.
					h2.title Разделы выставки
					h3(style="background-color:#2263A8;") Маркетинг и менеджмент в сфере спорта, здоровья и красоты
					ul(style="color:#2263A8;")
						li
							| Подготовка специалистов, повышение квалификации
						li
							| ВУЗы, НИИ, Центры повышения квалификации, учебные центры
						li
							| Семинары и тренинги, курсы
						li
							| Реклама и PR
						li
							| СМИ
						li
							| Другие
					h3(style="background-color:#72C1AD;") Лечение и Профилактика
					ul(style="color:#72C1AD;")
						li
							| Издательства просветительской, учебной и медицинской литературы
						li
							| Лечебные учреждения, научно-исследовательские и практические центры
						li
							| Оздоровительные и реабилитационные центры, врачебно-физкультурные диспансеры, курортно-санаторные учреждения
						li
							| Фармакологические компании и фармацевтические учреждения
						li
							| Компании по медицинскому страхованию
						li
							| Производители и поставщики комплексного оснащения врачебных кабинетов, лечебных заведений, санаториев и домов отдыха. Оборудование и мебель для профильных медицинских учреждений
						li
							| Центры биологических исследований, лабораторная медицина. Антидопинговые лаборатории. Контрольно-аналитические лаборатории. Производители и поставщики тест-систем
						li
							| Медицинская техника, оборудование и диагностика
						li
							| Производители и поставщики медицинских инструментов
						li
							| Травматология и ортопедия
						li
							| Производители и поставщики форменной и специальной одежды
						li
							| Другие
					h3(style="background-color:#F97C55;") Реабилитация
					ul(style="color:#F97C55;")
						li
							| Учреждения по восстановительной терапии и реабилитации
						li
							| Производители и поставщики физиотерапевтического оборудования. Производители приборов и устройств для реабилитации
						li
							| Спортивная индустрия и оборудование
						li
							| Производители товаров и услуг в сфере курортологии
						li
							| Производители и поставщики продуктов здорового питания
						li
							| Общеукрепляющие тренажеры и тренажеры для адаптивной физкультуры
						li
							| Производители и поставщики бассейнов и саун
						li
							| Геронтологические центры
						li
							| Производители и поставщики средств личной гигиены
						li
							| Производители и поставщики ортопедических устройств и аппаратов
						li
							| Производители и поставщики мебели и оборудования для курортно-санаторных учреждений, реабилитационных центров
						li
							| Производители оборудования для детских площадок
						li
							| Курортология
						li
							| Оборудование и технологии массажа
						li
							| Сертификация продукции. Сертификация и патентование инновационных продуктов в сфере реабилитации
						li
							| Фито-и ароматерапия
						li
							| Диетическое питание
						li
							| Биологические активные добавки (БАДы)
						li
							| Минеральные воды
						li
							| Гомеопатия
						li
							| Специализированные издательства и интернет-порталы
						li
							| Другие
			.row
				.col-12
					h2.title Место проведения
			.row
				.col-6
					p
						strong Парк Инн Рэдиссон «Прибалтийская»
						| - крупнейший конгресс-отель в Санкт-Петербурге.
					p
						strong Адрес:
						| Россия, г. Санкт-Петербург, ул. Кораблестроителей, д. 14.
					p Для организации Выставки используются Конгресс-зал
						strong Blue 4
						|, общей площадью 570 кв. м.
					a(href="#") Перейти на сайт отеля
					.row
						.col-6
							img(src="img/photo-8.jpg", alt="")
						.col-6
							img(src="img/photo-9.jpg", alt="")
				.col-6
					#map
			.row
				.col-12
					h2.title Общая информация
					h4 УСЛОВИЯ УЧАСТИЯ
					p Компания, желающая принять участие в выставках, направляет Организатору заявку не позднее 1 сентября 2021 года, после чего она регистрируется в качестве Экспонента. На основании заявки Организатор направляет Экспоненту проект договора и счет на оплату.
					h4 ВЫСТАВОЧНАЯ ПЛОЩАДЬ
					p Площадь стенда может составлять 2х2 (4 кв. м.), 2х3 (6 кв. м), 3х3 (9 кв. м), 4х3 (12 кв. м.), 4х5 (20 кв. м.)  Возможна
						strong индивидуальная застройка
						| согласно пожеланиям Экспонента.
					h4 ЗАСТРОЙКА
					p Стандартная застройка предполагает возведение стенда из конструктива и стеновых панелей. Высота стенда в сборе
						strong 2,5 метра.
						| Стенд оснащается стандартной фризовой панелью.
					p Перечень оборудования, входящего в базовую комплектацию, зависит от категории стенда и его площади. На стенде может быть установлено дополнительное оборудование согласно пожеланиям Экспонента (стоимость согласовывается в индивидуальном порядке).
			.row
				.col-12
					h2.title Варианты выставочных стендов категории “Стандарт”
					h3(style="background-color:#2263A8;") Стенд 2х2 (4 кв. метра)
				.col-4
					h4 Комплектация
					ul(style="color:#2263A8;")
						li
							| Стены модуля
						li
							| Фризовая панель
						li
							| Стол
						li
							| 2 стула
						li
							| Корзина для бумаг
						li
							| Спот-бра (освещение)
						li
							| Электрическая розетка 220 v, 1кВт
				.col-4
					img(src="img/photo-10.jpg", alt="")
				.col-4
					img(src="img/photo-11.jpg", alt="")
			.row
				.col-12
					h2.title Варианты выставочных стендов категории “Стандарт”
					h3(style="background-color:#72C1AD;") Стенд 2х2 (4 кв. метра)
				.col-4
					h4 Комплектация
					ul(style="color:#72C1AD;")
						li
							| Стены модуля
						li
							| Фризовая панель
						li
							| Стол
						li
							| 2 стула
						li
							| Корзина для бумаг
						li
							| Спот-бра (освещение)
						li
							| Электрическая розетка 220 v, 1кВт
				.col-4
					img(src="img/photo-12.jpg", alt="")
				.col-4
					img(src="img/photo-13.jpg", alt="")
			.row
				.col-12
					h2.title Варианты выставочных стендов категории “Стандарт”
					h3(style="background-color:#F97C55;") Стенд 2х2 (4 кв. метра)
				.col-4
					h4 Комплектация
					ul(style="color:#F97C55;")
						li
							| Стены модуля
						li
							| Фризовая панель
						li
							| Стол
						li
							| 2 стула
						li
							| Корзина для бумаг
						li
							| Спот-бра (освещение)
						li
							| Электрическая розетка 220 v, 1кВт
				.col-4
					img(src="img/photo-14.jpg", alt="")
				.col-4
					img(src="img/photo-15.jpg", alt="")
				.col-12
					.files
						p Со списком дополнительного выставочного оборудования Вы можете ознакомиться в файле:
						a(href="#") СПИСОК ДОПОЛНИТЕЛЬНОГО ОБОРУДОВАНИЯ
			.row
				.col-12
					h2.title Порядок внесения взноса
					p После регистрации заявки на участие в выставке и получения счета Экспонент производит авансовый платеж в следующие сроки:
					ul(style="color:#939393;")
						li
							| В случае заключения договора менее чем за 6 календарных месяцев до даты проведения выставки: в размере 70 % от стоимости услуг по договору в течение 5 банковских дней со дня получения счета;
						li
							| В случае заключения договора более чем за 6 календарных месяцев до даты проведения выставки: в размере 50 % от стоимости услуг по договору в течение 5 банковских дней со дня получения счета.
					p Полное внесение взноса за участие должно быть произведено не позднее 30 дней до начала монтажа выставки - 26 сентября 2021 г.
					p Организатор вправе аннулировать регистрацию компании в качестве Экспонента, не подтвердившей внесение взноса в установленные сроки.
			.row
				.col-12
					h2.title Пакеты участников Выставки “Спорт и здоровье” 2021
					table
						tr
							th номер пакета
							th пакет #1
							th пакет #2
							th пакет #3
							th пакет #4
							th пакет #5
						tr
							td размеры стенда
							td 4 кв. метра
							td 6 кв. метров
							td 9 кв. метров
							td 12 кв. метров
							td 20 кв. метров
						tr
							td стоимость
							td
								strong 50 000 руб.
								| с учетом НДС
							td
								strong 100 000 руб.
								| с учетом НДС
							td
								strong 150 000 руб.
								| с учетом НДС
							td
								strong 200 000 руб.
								| с учетом НДС
							td
								strong 250 000 руб.
								| с учетом НДС
						tr
							td регистрационный  взнос*
							td
								strong 15 000 руб.
								| с учетом НДС
							td
								strong 15 000 руб.
								| с учетом НДС
							td
								strong 15 000 руб.
								| с учетом НДС
							td
								strong 15 000 руб.
								| с учетом НДС
							td Включен в стоимость пакета
						tr
							td описание
							td Аренда выставочного места и застройка выставочного стенда.  Комплектация стандартная.
							td Аренда выставочного места и застройка выставочного стенда.  Комплектация стандартная.
							td Аренда выставочного места и застройка выставочного стенда.  Комплектация стандартная.
							td Аренда выставочного места и застройка выставочного стенда “Улучшенный стандарт”.
							td Аренда выставочного места и застройка выставочного стенда “Улучшенный стандарт”.
					p *Регистрационный взнос оплачивается отдельно, включает участие в конгрессе одного представителя компании с вручением сертификата об участии и питание (обед-фуршет)
					h4 ПРЕДЛОЖЕНИЯ ДЛЯ ЭКСПОНЕНТОВ
					p Размещение логотипа на пресс-волле выставки, печатных и полиграфических материалах – «Сборник Материалов Конгресса» и/или «Программа Конгресса» — информацию подать до
						strong 01 сентября 2021 г.
					h4 ДОПОЛНИТЕЛЬНЫЕ ОПЦИИ ДЛЯ УЧАСТНИКОВ
					ul(style="color:#939393;")
						li
							| Возможность проведения сателлитных симпозиумов и выступление с докладом: оговаривается индивидуально.
						li
							| Экспонент может заказать индивидуальный дизайн выставочного стенда – стоимость будет сформирована исходя из конструкции и технических характеристик.
						li
							| Участие каждого дополнительного представителя оплачивается отдельно в размере 15 000 руб. за одного представителя.
