footer
	.container
		.row
			.col-12
				h2.title Заголовок с призывом
					br
					| к действию
				a.btn.icon-arrow-right(href="#") зарегистрироваться
			.col-2
				a.logo(href="/")
					img(src="img/logo-white.svg", alt="#")
			.col-10
				ul.menu.dfr.justify-content-between
					li
						a(href="#") Конгресс
					li
						a(href="#") Программа и мероприятия
					li
						a(href="#") Сервисы
					li
						a(href="#") Стать партнёром
					li
						a(href="#") Аккредитация СМИ
					li
						a(href="#") Контакты
				ul.contacts
					li.icon-marker 191186, Санкт-Петербург, ул. Малая Морская, д. 8 офис МОО «Спорт, Человек, Здоровье», этаж 2, кабинет 24
					li.icon-phone
						a(href="tel:+78125712234") +7 /812/ 571-22-34
						a(href="tel:+79112393036") +7 /911/ 239-30-36
					li.icon-email
						a(href="mailto:sporthealth.spb@gmail.com") sporthealth.spb@gmail.com
				p.copyright Copyright © 2021 Международный Научный Конгресс "Спорт, Человек, Здоровье". Создано на WordPress
