section
	.first-block
		.container
			.row
				.col-12
					.desc
						h2.title конгресс
						h1.title Официальные языки Конгресса –  английский и русский
						h3(href="#") На конгрессе будет обеспечен синхронный перевод всех заседаний.
						p Патронат Конгресса осуществляют Совет Европы, ТАФИСА, под эгидой Комиссии Российской Федерации по делам ЮНЕСКО, при поддержке Министерства спорта Российской Федерации, Олимпийского комитета России, Правительства Санкт-Петербурга.
				.col
					.item
						img(src="img/img-1.png", alt="#")
				.col
					.item
						img(src="img/img-2.png", alt="#")
				.col
					.item
						img(src="img/img-3.png", alt="#")
				.col
					.item
						img(src="img/img-4.png", alt="#")
				.col
					.item
						img(src="img/img-5.png", alt="#")
				.col
					.item
						img(src="img/img-6.png", alt="#")
	.info
		.container
			.row
				.col-12
					h2.title Информационное письмо
					p Ознакомиться с информационным письмом Вы сможете скачав его по ссылке ниже.
					a(href="#") ИНФОРМАЦИОННОЕ ПИСЬМО
	.organizers
		.container
			.row
				.col-12
					h2.title Организаторы
					p.subtitle Lorem ipsum dolor sit amet consectetur adipiscing elit urna habitasse cursus volutpat dis semper  bibendum nulla potenti himenaeos elementum pretium vulputate iaculis eget scelerisque duis facilisis  purus aptent ante eleifend ridiculus enim nascetur mattis facilisi congue cubilia dignissim placerat
				.col
					.item
						img(src="img/logo.svg", alt="#")
						p Международная общественная организация содействия науке и спорту «Спорт, Человек, Здоровье» (Санкт-Петербург, РФ)
				.col
					.item
						img(src="img/Лесгафта.png", alt="#")
						p Национальный государственный Университет физической культуры, спорта и здоровья имени П.Ф. Лесгафта (Санкт-Петербург, РФ)
				.col
					.item
						img(src="img/ФИАС.png", alt="#")
						p Международная Федерация Самбо (ФИАС) (Лозанна, Швейцария)
				.col
					.item
						img(src="img/spb.png", alt="#")
						p Санкт-Петербурский государственный университет
	.congress
		.container
			.row.align-items-center
				.col-5.green
					.img
						img(src="img/photo-1.jpg", alt="")
				.col-7
					h3 ШЕСТАКОВ ВАСИЛИЙ БОРИСОВИЧ
					p Председатель Исполнительного комитета Международной общественной организации содействия науке и спорту «Спорт, Человек, Здоровье», Санкт-Петербург, Россия.
					p Президент Международной Федерации Самбо (ФИАС), Лозанна, Швейцария.
					a.btn.icon-arrow-right(href="#") читать далее
			.row.align-items-center
				.col-7
					h3 ТАЙМАЗОВ ВЛАДИМИР АЛЕКСАНДРОВИЧ
					p Сопредседатель Международной общественной организации содействия науке и спорту «Спорт, Человек, Здоровье», Санкт-Петербург, Россия.
					p Президент Национального государственного Университета физической культуры, спорта и здоровья имени П.Ф. Лесгафта, Санкт-Петербург, Россия.
					p Председатель научного комитета Международного Конгресса  «Спорт, Человек, Здоровье».
					a.btn.icon-arrow-right(href="#") читать далее
				.col-5.blue
					.img
						img(src="img/photo-2.png", alt="")
			.row.align-items-center
				.col-5.orange
					.img
						img(src="img/photo-3.png", alt="")
				.col-7
					h3 БАКУЛЕВ СЕРГЕЙ ЕВГЕНЬЕВИЧ
					p Ректор Национального государственного Университета физической культуры, спорта и здоровья имени П.Ф. Лесгафта, Санкт-Петербург, Россия
					a.btn.icon-arrow-right(href="#") читать далее
	.map-block
		.container
			.row
				.col-12
					h2.title Страны-участницы Конгресса
			.row
				.col-12
					#map
