section
	.first-block
		.container
			.row
				.col-12
					.desc
						h2.title партнерство
						h1.title Стать партнёром Конгресса
						p Если Вас заинтересовала возможность стать партнером  X Международного Конгресса «Спорт, Человек, Здоровье»,  Вы можете заполнить форму, которую найдёте ниже, и мы в ближайшее время свяжемся с Вами.
						.contact-block
							h3 КОНТАКТЫ ОРГАНИЗАТОРОВ:
								span Галина Леонтьева:
							ul.contacts
								li.icon-phone
									a(href="tel:89112393036") 8-911-239-30-36
								li.icon-email
									a(href="mailto:sporthealth.spb@gmail.com") sporthealth.spb@gmail.com
	.packages
		.container
			.row
				.col-12
					h2.title Спонсорские пакеты
			.row
				.col-12
					.item
						h3(style="background-color:#F97C55;") бронзовый спонсор. Стоимость пакета - 100 000 руб
						ul(style="color:#F97C55;")
							li
								p аккредитация двух представителей организации-спонсора на все мероприятия Конгресса;
							li
								p предоставление двух пакетов участника с полной информацией;
							li
								p предоставление выставочной площади 4 м2 и (или) размещение ролл-а организации-спонсора в рамках выставки (по согласованию);
							li
								p предоставление выставочной площади 4 м2 и (или) размещение ролл-а организации-спонсора в рамках выставки (по согласованию);
							li
								p размещение названия, логотипа и краткой информации об организации-спонсоре на официальном сайте Конгресса с активной ссылкой на сайт организации (логотип и информация на русском и английском языках предоставляются Спонсором в оргкомитет Конгресса в течение трех дней с момента заключения договора);
							li
								p размещение логотипа Спонсора на обложке Программы Конгресса, которая раздается всем участникам Конгресса (предоставление логотипа не позднее 01 сентября 2021 г.);
							li
								p размещение логотипа организации-спонсора на двух рекламных поверхностях на территории проведения Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021г.);
							li
								p выражение благодарности организации-спонсору в пост-релизе Конгресса.
						a.button.dfc(href="#") Заказать
					.item
						h3(style="background-color:#0DA2E0;") серебряный спонсор. Стоимость пакета - 250 000 руб
						ul(style="color:#0DA2E0;")
							li
								p аккредитация двух представителей организации-спонсора в качестве участников Конгресса;
							li
								p предоставление двух пакетов участника с полной информацией;
							li
								p предоставление выставочной площади 6 м2 и (или) размещение ролл-ап организации-спонсора в рамках выставки (по согласованию);
							li
								p размещение логотипа организации-спонсора на обложке Программы Конгресса, которая раздается всем участникам Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p размещение названия, логотипа и краткой информации об организации-спонсоре на официальном сайте Конгресса с активной ссылкой на сайт организации (логотип и информация на русском и английском языках предоставляются Спонсором в оргкомитет Конгресса в течение трех дней с момента заключения договора);
							li
								p предоставление 1 (одной) печатной страницы в Сборнике Материалов Конгресса для размещения рекламного модуля организации-спонсора (готовый макет модуля предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p размещение логотипа организации-спонсора на обложке Сборника Материалов Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01сентября 2021 г.);
							li
								p размещение логотипа организации-спонсора на 3 (трех) рекламных поверхностях на территории проведения Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p предоставление переводчика 27 – 29 октября 2021 г. (по отдельной заявке);
							li
								p участие представителей организации-спонсора в качестве почетных гостей в официальных приемах и мероприятиях Конгресса;
							li
								p выражение благодарности организации-спонсору в пост-релизе Конгресса.
						a.button.dfc(href="#") Заказать
					.item
						h3(style="background-color:#F9C155;") серебряный спонсор. Стоимость пакета - 250 000 руб
						ul(style="color:#F9C155;")
							li
								p аккредитация трех представителей организации-спонсора в качестве участников Конгресса;
							li
								p предоставление трех пакетов участника с полной информацией;
							li
								p предоставление выставочной площади 8 м2 и (или) размещение ролл-ап организации-спонсора в рамках выставки (по согласованию);
							li
								p размещение логотипа организации-спонсора на обложке Программы Конгресса, которая раздается всем участникам Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p размещение названия, краткой информации и логотипа об организации-спонсоре на официальном сайте Конгресса с активной ссылкой на сайт организации (логотип и информация на русском и английском языке предоставляются Спонсором в оргкомитет Конгресса в течение трех дней с момента заключения договора);
							li
								p предоставление 2 (двух) печатных страниц в Сборнике Материалов Конгресса для размещения рекламного модуля организации-спонсора (готовый макет модуля предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p размещение логотипа организации-спонсора на обложке Сборника Материалов Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p размещение логотипа организации-спонсора на рекламных поверхностях на территории проведения Конгресса (логотип предоставляется Спонсором в оргкомитет Форума не позднее 01 сентября 2021 г.);
							li
								p предоставление переводчика 27 – 29 октября 2021 г. (по отдельной заявке);
							li
								p предоставление легкового автомобиля повышенной комфортности с 26 по 30 октября 2021 г. для встреч\проводов в аэропорту и на ж/д вокзале  (по отдельной заявке);
							li
								p участие представителей организации-спонсора в качестве почетных гостей в официальных приемах и мероприятиях Конгресса, в т.ч. гала – ужине;
							li
								p выражение благодарности организации-спонсору в пост-релизе Конгресса.
						a.button.dfc(href="#") Заказать
					.item
						h3(style="background-color:#72C1AD;") серебряный спонсор. Стоимость пакета - 250 000 руб
						ul(style="color:#72C1AD;")
							li
								p аккредитация пяти представителей организации-спонсора в качестве участников Конгресса;
							li
								p предоставление пяти пакетов участника с полной информацией;
							li
								p предоставление выставочной площади 12 м2 и (или) размещение ролл-ап организации-спонсора в рамках выставки (по согласованию);
							li
								p возможность размещения баннера организации-спонсора размером не более 1*2,2 м. в месте проведения пленарного заседания;
							li
								p размещение логотипа организации-спонсора на стойках регистрации участников Конгресса (предоставление логотипа не позднее 01 сентября 2021 г.);
							li
								p размещение логотипа Спонсора на обложке Программы Конгресса, которая раздается всем участникам Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p размещение названия, логотипа и краткой информации об организации- спонсоре на официальном сайте Конгресса с активной ссылкой на сайт организации (логотип и информация на русском и английском языке предоставляются Спонсором в оргкомитет Конгресса в течение трех дней с момента заключения договора);
							li
								p размещение 5 (пяти) печатных страниц в Сборнике Материалов Конгресса для размещения рекламного модуля организации-спонсора (готовый макет модуля предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p размещение логотипа организации-спонсора на обложке Сборника Материалов Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.);
							li
								p комплектование пакета информационных материалов организации-спонсора в портфель участников Конгресса (готовые материалы предоставляются Спонсором в офис организационного комитета в г. Санкт-Петербурге не позднее, чем за 10 дней до начала Конгресса). Размер и макеты материалов Спонсор согласовывает с оргкомитетом Конгресса не позднее 01 сентября 2021 г.;
							li
								p размещение логотипа организации-спонсора на всех рекламных поверхностях на территории проведения Конгресса (логотип предоставляется Спонсором в оргкомитет Конгресса не позднее 01 сентября 2021 г.).
							li
								p размещение 5 (пяти) флагов с логотипом организации-спонсора на территории проведения Конгресса (флаги предоставляются организацией-спонсором, макет изображения необходимо согласовать с оргкомитетом Конгресса не позднее 01 сентября 2021 г.);
							li
								p предоставление переводчика 27   – 29 октября 2021 г.  (по отдельной заявке);
							li
								p предоставление двух легковых автомобилей повышенной комфортности с 26 по 30 октября 2021 г.  для встреч\проводов в аэропорту и на ж/д вокзале (по отдельной заявке);
							li
								p участие представителей организации-спонсора в качестве почетных гостей в официальных приемах и мероприятиях Конгресса, в т.ч. гала – ужине;
							li
								p выражение благодарности организации-спонсору в пост-релизе Конгресса.
						a.button.dfc(href="#") Заказать
					.item
						h3(style="background-color:#2263A8;") серебряный спонсор. Стоимость пакета - 250 000 руб
						ul(style="color:#2263A8;")
							li
								p компании присваивается статус «Информационный партнер»;
							li
								p предоставление выставочной площади 4 м2 и (или) размещение ролл-ап Официального партнера в рамках выставки;
							li
								p аккредитация 2 представителей Партнера на все мероприятия Конгресса;
							li
								p предоставление 2 пакетов участника с полной информацией
						h4  Рекламные возможности:
						ul(style="color:#2263A8;")
							li
								p размещение баннера на официальном сайте Конгресса внизу главной страницы, с активной ссылкой на сайт Информационного партнера (готовый макет баннера предоставляется партнером в оргкомитет Конгресса в течение трех дней с момента заключения договора);
							li
								p размещение логотипа и названия Информационного партнера на обложке Программы, Сборника Материалов, информационных письмах Конгресса (логотип предоставляется Партнером в оргкомитет Конгресса не позднее 01 сентября 2021г.);
							li
								p размещение логотипа Информационного партнера в печатной продукции о Конгрессе, а также в официальных рассылках конгресса потенциальным участникам с указанием статуса (логотип предоставляется партнером в оргкомитет Конгресса);
							li
								p выражение благодарности Информационному партнеру в пост-релизе Конгресса;
							li
								p информационный пост об Информационном партнере в социальных сетях в официальных группах поддержки Конгресса.
						a.button.dfc(href="#") Заказать
	.form
		.container
			.row
				.col-12
					form
						.dfr
							.input
								input(type="text")
								label Имя
									sub *
							.input
								input(type="tel")
								label Телефон
									sub *
							.input
								input(type="email")
								label Email
									sub *
							.input
								input(type="text")
								label Компания
									sub *
							.select
								label Пакет
								select
									option Информационный партнер
									option Информационный партнер
									option Информационный партнер
									option Информационный партнер
							.textarea
								label Комментарий или сообщение
								textarea(placeholder="Введите текст")
							.checkbox
								p
									sub *
									| обязательные поля
								input#checkbox(type="checkbox")
								label(for="checkbox") Соглашаюсь на обработку моих персональных данных в соответствии с
									a(href="#") Условиями политики конфиденциальности

							input.button(type="submit" value="Отправить")
