section
	.first-block
		.container
			.row
				.col-12
					.desc
						h2.title программа и мероприятия
						h1.title Расписание работы Конгресса*
						.event
							h4 27 октября
							p Регистрация участников, Церемония открытия Конгресса, пленарное заседание,  панельные сессии, открытие выставки.
						.event
							h4 28 октября
							p Работа научных секций, панельных сессий, круглых столов, мастер-классов, тренингов.
						.event
							h4 29 октября
							p Заключительное пленарное заседание, награждение молодых авторов лучших научных статей «Перспективная инновационная идея», закрытие Конгресса, культурная программа (экскурсии, выездные площадки:  посещение спортивных объектов Санкт-Петербурга).
						h3 *Организационный комитет Конгресса оставляет за собой возможность внесения корректировки программы.
							br
							br
							| Полная расширенная версия программы мероприятий Конгресса будет размещена марте-апреле 2021 года.
	.content
		.container
			.row
				.col-12
					h2.title Подача научных материалов
					h4 ДО 20 ИЮЛЯ 2021 НАУЧНЫЙ КОМИТЕТ ОПРЕДЕЛИТ АВТОРОВ СТАТЕЙ ДЛЯ ВКЛЮЧЕНИЯ В КАЧЕСТВЕ ДОКЛАДЧИКОВ В НАУЧНУЮ ПРОГРАММУ КОНГРЕССА И МОЛОДЫХ АВТОРОВ ЛУЧШИХ СТАТЕЙ ДЛЯ НАГРАЖДЕНИЯ В НОМИНАЦИИ «ПЕРСПЕКТИВНАЯ ИННОВАЦИОННАЯ ИДЕЯ».
					p Для
						strong НЕЗАРЕГИСТРИРОВАННЫХ
						| участников: необходимо пройти
						strong РЕГИСТРАЦИЮ
						| на сайте Конгресса, зайти в
						strong ЛИЧНЫЙ КАБИНЕТ,
						| используя логин и пароль, полученный при регистрации, и нажать на «Загрузить статью доклада».
					p
						strong Содержание статей должно соответствовать тематическим направлениям секционных заседаний Конгресса.
					h2.title Требования и рекомендации к оформлению статей
					ul(style="color:#939393;")
						li
							p Материалы должны быть оформлены в соответствии с требованиями, подаются на русском или английском языках  (переводы, выполненные при посредстве автоматического онлайн — переводчика без соответствующей редактуры не принимаются).
						li
							p Объем статьи –
								strong до 6-х полных страниц
								| формата А4, включая список литературы, таблицы и рисунки, ориентация листа – «книжная».
						li
							p Текстовый редактор: Microsoft Word  для Windows версии от 6.0 и выше.
						li
							p Поля страницы: верхнее, нижнее, правое — 2,0 см, левое 3,0 см.
						li
							p Тип шрифта: Times New Roman, размер шрифта – 14 pt.
						li
							p Межстрочный интервал – полуторный, выравнивание по ширине страницы. Без переносов.
						li
							p Абзацный отступ, одинаковый по всему тексту — 1,0 см.
					h2.title Рекомендуемая схема построения стратьи
					ul(style="color:#939393;")
						li
							p Номер и название секции Конгресса.
						li
							p Название статьи на русском и английском языках: шрифт 14, стиль Times New Roman, заглавными буквами, жирный, форматирование — по центру страницы.
						li
							p Фамилии и инициалы авторов, звание, ученая степень на русском и английском языках: под заголовком, шрифт 14, стиль Times New Roman, форматирование — по центру страницы.
						li
							p Сокращенное официальное название организации на русском и английском языках: под фамилиями и инициалами авторов, шрифт 14, стиль Times New Roman, форматирование — по центру страницы.
						li
							p Город и страна на русском и английском языках (указывать для каждого автора): под названием организации, шрифт 14, стиль Times New Roman, форматирование — по центру страницы.
						li
							p Краткая
								strong аннотация
								| статьи на русском и английском языках (до 500 знаков с пробелами).
						li
							p Ключевые слова (на русском и английском языках).
						li
							p Краткое введение.
						li
							p Методы исследования (материалы и методы).
						li
							p Результаты исследований и их анализ.
						li
							p Заключение (выводы).
						li
							p Количество соавторов в одной статье допускается не более 4-х.
						li
							p На все библиографические источники, представленные в публикации, должны быть ссылки по тексту статьи: оформление по ГОСТу 7.0.5-2008.
						li
							p Библиографический список в алфавитном порядке размещается в конце статьи: оформление по ГОСТу Р 7.0.100-2018.
						li
							p Сноски в тексте статьи размещают в квадратных скобках непосредственно в тексте или в конце предложения, указывая первым номер источника по списку литературы, затем, через запятую, номер страницы, точка в конце предложения ставится после квадратных скобок, например [1, с. 21].
						li
							p Рисунки (графики), размещенные в тексте, должны быть черно-белые и представлены как отдельные файлы.
						li
							p Каждая статья оформляется как отдельный файл.
					h2.title Виды докладов
					ul(style="color:#939393;")
						li
							p Выступление на пленарных заседаниях. Не более 20-25 мин.
						li
							p Выступление на панельных сессиях. Не более 15-20 мин.
						li
							p Выступление на секциях. Не более 10 -12 мин. (Ведущие доклады на секциях – 15-20 мин.)
						li
							p Стендовые доклады должны быть представлены на листе ISO216: ширина -0,841 м, высота — 1,189 м. Авторы стендового доклада должны присутствовать согласно программе для ответов на вопросы.
					h2.title Материалы конгресса
					p По итогам Конгресса будет издан печатный и электронный Сборник материалов, в который будут включены статьи докладов участников Конгресса. Сборник будет размещен на сайте Конгресса.
					p Статьи включаются в печатный и электронный Сборники научных материалов Конгресса после их одобрения научным комитетом Конгресса и оплаты взноса за публикацию
						strong (оплата публикации производится только после подтверждения научным комитетом принятия материалов к публикации).
					p Научный комитет сохраняют за собой право отклонить статьи, которые не соответствуют тематическим направлениям Конгресса или требованиям оформления, или присланы позднее
						strong 01 июля 2021 г.
						|, а также на итоговое редактирование статей после устранения замечаний научного комитета.
					p Автор может подать не более двух статей (в том числе в соавторстве).
					p Уведомление авторов о статусе публикации статьи в Сборнике, о включении в программу устных или стендовых докладов — не позднее 01 августа 2021 г.
					h2.title Требования и рекомендации к оформлению стендовых докладов
					ul(style="color:#939393;")
						li
							p  Главное требование к постеру — четкое изложение основных моментов исследования, отсутствие второстепенных сведений.
						li
							p Информацию следует располагать вертикально на листе формата А1 (841 х 594 мм).
						li
							p Использовать минимум текста (не более 25 % от всего материала).
						li
							p Отдавать предпочтение простым предложениям и спискам.
						li
							p Для выделения названий разделов и подразделов использовать жирный шрифт или буквы большего размера.
						li
							p Размер шрифта должен быть достаточным для свободного чтения с расстояния одного-двух метров: основной текст не менее 24 pt, заголовки — 28—44 pt.
						li
							p Использовать шрифты класса sans serif, например, Arial или Helvetica (в отличие от традиционного Times New Roman, они лучше подходят для чтения на расстоянии).
						li
							p Цвет текста должен контрастировать с фоном, негласное правило — темный текст на светлом фоне и наоборот.
						li
							p Графический материал должен быть разнообразным: таблицы, рисунки, диаграммы, фотографии.
						li
							p Все иллюстрации должны иметь достаточное разрешение (не менее 300 точек на дюйм), чтобы избежать проявления пикселей.
						li
							p Постер должен читаться, начиная от левого верхнего угла и заканчивая нижним правым.
						li
							p В верхней части постера следует поместить название стендового доклада, ФИО автора.
						li
							p Вспомогательные разделы (контактная информация, благодарности, литература) располагаются внизу постера, более мелким шрифтом.
						li
							p При размещении информации следует учитывать, что оптический центр листа обычно на 1/8 выше геометрического.
						li
							p Кроме размещаемого на вертикальной поверхности постера, докладчик может иметь с собой раздаточные материалы для заинтересованных посетителей (уменьшенные копии постера, перевод на другие языки, визитные карточки автора и др.).
					p
						strong Стендовый доклад должен иметь перевод на английский язык.
						| Перевод может размещаться на самом постере, либо, в целях экономии пространства, содержаться в раздаточных материалах.
					p
						strong Изготовление стендового доклада является целиком обязанностью докладчика.
						| Организационный комитет конгресса не занимается изготовлением постеров, их печатью и доставкой до места проведения стендовых сессий.
					p
						strong Докладчик должен присутствовать на стендовой сессии в заранее оговоренный Организационным комитетом день и время.
						| При опоздании докладчика постерный доклад исключается из программы стендовой сессии.
					p
						strong Перечень постерных презентаций будет включен в аннотированную программу Конгресса.
						| Для включения в программу докладчик должен до 01 августа 2021 г. направить в Организационный комитет заявку на участие со стендовым докладом, содержащую следующую информацию на русском и английском языках (перевод должен выполняться профессиональным переводчиком, заявки, содержащие машинный перевод, к рассмотрению не принимаются):
					ul(style="color:#939393;")
						li
							p Название стендового доклада;
						li
							p ФИО, звание, ученая степень (при наличии), место работы и должность докладчика;
						li
							p Email и мобильный телефон докладчика.
					h4
						strong Внимание! Дублирование содержимого устного доклада стендовым постером НЕ ДОПУСКАЕТСЯ!
					p Приём заявок на участие со тендовым докладом завершается
						strong 01 авуста 2021 г.
					h2.title Контакты и отвественные лица
					p Заявки на проведение стендовых докладов просим направлять на электронную почту Конгресса:
						a(href="mailto:sporthealth.spb@gmail.com") sporthealth.spb@gmail.com
					.row
						.col-6
							.blue-block
								h4 Координатор проведения стендовых сессий:
								p (курирование стендовых сессий, техническая поддержка стендовых докладчиков, подготовка пространства, размещение постеров, вопросы по оформлению)
								h5 Орешкина Екатерина Павловна
								ul.contacts
									li.icon-phone
										a(href="tel:+78125712234") +7 /812/ 571-22-34
										a(href="tel:+79112393036") +7 /911/ 239-30-36
									li.icon-email
										a(href="mailto:sporthealth.spb@gmail.com") sporthealth.spb@gmail.com
						.col-6
							.green-block
								h4 Ответственный за составление научной программы Конгресса:
								h5 Ашкинази Сергей Максимович
								ul.contacts
									li.icon-email
										a(href="mailto:sporthealth.spb@gmail.com") sporthealth.spb@gmail.com
