section
	.first-block
		.container
			.row
				.col-12
					.desc
						h2.title Сервисы
						h1.title Визовая поддержка
						p Участникам Конгресса рекомендуется самостоятельно уточнить всю информацию по поездке в Россию (г. Санкт-Петербург).
							br
							br
							| Необходимо связаться с местным российским посольством или консульством, находящимся в Вашей стране, чтобы получить необходимую информацию по получению  ВИЗЫ.
							br
							br
							| Оргкомитет Конгресса будет рад направить часть необходимых документов (ваучер) и официальное  письмо-приглашение для оформления однократной туристической визы до 30 дней.
							br
							br
							| Письмо приглашение должно рассматриваться как официальное приглашение для облегчения получения визы и/или документов, необходимых для принятия участия в Конгрессе.
							br
							br
							| Это письмо нельзя считать, как предложение какого-либо вида финансовой поддержки от имени организаторов.
							br
							br
							| Пожалуйста, обратите внимание: Письмо-приглашение и ваучер будут предоставлены, если претендент был успешно зарегистрирован на сайте Конгресса, оплатил регистрационный взнос и забронировал гостиницу на время проведения Конгресса.
						h3 Важно заранее начать оформление всех необходимых документов для получения визы (минимум за три месяца до запланированной поездки).
							br
							br
							| Для получения дополнительной информации, пожалуйста, свяжитесь с Оргкомитетом Конгресса по e-mail:
							a(href="#") sporthealth.spb@gmail.com
	form.details
		.container
			.row
				.col-12
					.dfr
						h2.title Данные для оформления письма-приглашения и ваучера
						h3(style="background-color:#2263A8;") личные данные
						.input
							label Имя
							input(type="text")
						.input
							label Фамилия
							input(type="text")
						.select
							label Пол
							select
								option Мужской
								option Женский
						.input
							label Национальность
							input(type="text")
						.input
							label Серия и номер паспорта
							input(type="text")
						.input.icon-calendar
							label Дата рождения
							input(type="text")
						h3(style="background-color:#72C1AD;") контактные данные
						.select
							label Страна
							select
								option Мужской
								option Женский
						.input
							label Город
							input(type="text")
						.input
							label Адрес
							input(type="text")
						.input
							label Почтовый индекс
							input(type="text")
						.file
							h4 Также, для оформления ваучера необходим скан паспорта
							p Размер файлов до 2 Мб формат PDF
							i.icon-document
							.dfc
								input#add-file(type="file")
								label(for="add-file") Загрузить файл
								p Файл не выбран
						.checkbox
							p Оформление ВИЗЫ оплачиваются самостоятельно участниками Конгресса.
							input#checkbox(type="checkbox")
							label(for="checkbox") Соглашаюсь на обработку моих персональных данных в соответствии с
								a(href="#") Условиями политики конфиденциальности

						input.button(type="submit" value="Отправить")
	.content
		.container
			.row
				.col-12
					h2.title Проживание участников
					p Для проживания участников X Международного Конгресса "Спорт, Человек, Здоровье" был выбран крупнейший конгресс-отель Санкт-Петербурга - Park Inn by Radisson Прибалтийская, где будут проходить все основные мероприятия Конгресса.
					p Отель расположен на берегу Финского залива в 10 минутах езды до центра города. Отель идеально подходит для размещения как бизнесменов, так и туристов, так как находится в непосредственной близости от таких достопримечательностей, как Эрмитаж, Петропавловская крепость, Русский музей, Мариинский театр, и всего в 25 км до аэропорта Пулково.
					a(href="#") Перейти на сайт отеля
			.row.row-cols-3
				.col
					img(src="img/pic-1.png", alt="#")
				.col
					img(src="img/pic-2.png", alt="#")
				.col
					img(src="img/pic-3.png", alt="#")
	.content
		.container
			.row
				.col-12
					h2.title Виды номеров
			.row.align-items-start
				.col-7
					h4.title Стандартные номера
					p С удобством расположитесь в одном из стандартных номеров, выполненных в современном ярком дизайне. Такие удобства, как спутниковое телевидение, бесплатный высокоскоростной беспроводной доступ в Интернет, фен и банные принадлежности позволяют каждому чувствовать себя как дома.
					p Площадь номера: 24 кв.м
					p Максимальное количество гостей в номере: 3 взрослых
					h4.title услуги
					ul
						li Бесплатный WiFi интернет
						li Спутниковое телевидение
						li Большой телевизор с экраном 32 дюйма
						li Письменный стол
						li Фен
						li Прямая телефонная линия
						li Обслуживание в номерах
						li Прачечная, химчистка
				.col-5
					img(src="img/photo-4.png", alt="")
					img(src="img/photo-5.png", alt="")
			.row.align-items-start
				.col-5
					img(src="img/photo-6.png", alt="")
					img(src="img/photo-7.png", alt="")
				.col-7
					h4.title Номера категории «Улучшенный»
					p Номера категории «Улучшенный» позволят Вам насладиться дополнительным комфортом, выпить чашечку чая или кофе, не выходя из номера. В Вашем распоряжении практичная рабочая зона, удобная кровать, банные принадлежности, включая халат и тапочки, чтобы в любой момент Вы могли почувствовать себя как дома. Также Вы можете воспользоваться утюгом и гладильной доской, сейфом. Номер идеально подойдет для бизнес-туристов
					p Площадь номера: 24 кв.м
					p Максимальное количество гостей в номере: 3 взрослых
					h4.title услуги:
					ul
						li Бесплатный WiFi интернет
						li Центральная система кондиционирования
						li Спутниковое телевидение
						li Большой телевизор с экраном 32 дюйма
						li Письменный стол
						li Фен
						li Прямая телефонная линия
						li Обслуживание в номерах
						li Прачечная, химчистка
						li Сейф в номере
						li Банный халат и тапочки
						li Банные принадлежности
						li Утюг, гладильная доска
						li Кофемашина
						li Мини холодильник
						li Чайный набор
						li Минеральная вода, чипсы, лимонады
	.map-block
		.container
			.row
				.col-12
					h2.title Как добраться до Санкт-Петербурга
					p Санкт-Петербург – один из крупнейших транспортных узлов России. В городе находятся международный аэропорт Пулково, пять железнодорожных вокзалов, морской порт. Кроме того, Санкт-Петербург связан с городами России и Европы многочисленными автомагистралями.
			.row
				.col-12
					#map
			.row
				.col-12
					.wpb_wrapper
						.vc_tta-container(data-vc-action='collapse')
							.vc_tta-accordion
								.vc_tta-panels-container
									.vc_tta-panels
										.vc_tta-panel.icon-air.vc_active(data-vc-content='.vc_tta-panel-body')
											.vc_tta-panel-heading
												h4.vc_tta-panel-title
													a(href='#' data-vc-accordion='' data-vc-container='.vc_tta-container')
														span.vc_tta-title-text АВИАСООБЩЕНИЕ
														i.vc_tta-controls-icon.vc_tta-controls-icon-plus
											.vc_tta-panel-body
												.wpb_text_column.wpb_content_element
													.wpb_wrapper
														p
															| I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
										.vc_tta-panel.icon-railway(data-vc-content='.vc_tta-panel-body')
											.vc_tta-panel-heading
												h4.vc_tta-panel-title
													a(href='#' data-vc-accordion='' data-vc-container='.vc_tta-container')
														span.vc_tta-title-text ЖЕЛЕЗНОДОРОЖНОЕ СООБЩЕНИЕ
														i.vc_tta-controls-icon.vc_tta-controls-icon-plus
											.vc_tta-panel-body
												.wpb_text_column.wpb_content_element
													.wpb_wrapper
														p
															| I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
										.vc_tta-panel.icon-car(data-vc-content='.vc_tta-panel-body')
											.vc_tta-panel-heading
												h4.vc_tta-panel-title
													a(href='#' data-vc-accordion='' data-vc-container='.vc_tta-container')
														span.vc_tta-title-text АВТОМОБИЛЬНЫЙ МАРШРУТ
														i.vc_tta-controls-icon.vc_tta-controls-icon-plus
											.vc_tta-panel-body
												.wpb_text_column.wpb_content_element
													.wpb_wrapper
														p
															| I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
															| , though the transition does limit overflow.
										.vc_tta-panel.icon-nautical(data-vc-content='.vc_tta-panel-body')
											.vc_tta-panel-heading
												h4.vc_tta-panel-title
													a(href='#' data-vc-accordion='' data-vc-container='.vc_tta-container')
														span.vc_tta-title-text МОРСКОЙ МАРШРУТ
														i.vc_tta-controls-icon.vc_tta-controls-icon-plus
											.vc_tta-panel-body
												.wpb_text_column.wpb_content_element
													.wpb_wrapper
														p
															| I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
															| , though the transition does limit overflow.
