section
	.first-block
		.container
			.row
				.col-12
					.desc
						h2.title конгресс
						h1.title Официальные языки Конгресса –  английский и русский
						h3 На конгрессе будет обеспечен синхронный перевод всех заседаний.
						p Патронат Конгресса осуществляют Совет Европы, ТАФИСА, под эгидой Комиссии Российской Федерации по делам ЮНЕСКО, при поддержке Министерства спорта Российской Федерации, Олимпийского комитета России, Правительства Санкт-Петербурга.
				.col
					.item
						img(src="img/img-1.png", alt="#")
				.col
					.item
						img(src="img/img-2.png", alt="#")
				.col
					.item
						img(src="img/img-3.png", alt="#")
				.col
					.item
						img(src="img/img-4.png", alt="#")
				.col
					.item
						img(src="img/img-5.png", alt="#")
				.col
					.item
						img(src="img/img-6.png", alt="#")
	.content
		.container
			.row
				.col-12
					h2 Студенческое волонтерское движение
					p Студенты Национального государственного Университета физической культуры, спорта и здоровья имени П.Ф. Лесгафта, Российского Государственного Педагогического Университета имени А.И. Герцена, Санкт-Петербургского Государственного Университета, проводят большую работу в Санкт - Петербурге, организуя Олимпийские уроки, спортивные праздники, показательные выступления и мастер-классы.
					p Одним из основных направлений деятельности студентов данных университетов является волонтёрство. Волонтёрское движение — это форма гражданского участия в общественно полезных делах. Волонтёрская деятельность наряду с высоким нравственным значением, играет огромную роль в развитии и совершенствовании профессиональных качеств.
					p Волонтеры данных вузов с 2013 года принимают активное участие в проведении Международных Конгрессов «Спорт, Человек, Здоровье».
					p 25-27 апреля 2019 года прошёл IX Международный Конгресс.
					p Организационный Комитет Конгресса «Спорт, Человек, Здоровье» высоко ценит сотрудничество с волонтерскими движениями вышеуказанных вузов и в очередной раз планирует взаимодействие в организации и проведении  юбилейного X Международного научного Конгресса        «Спорт, Человек, Здоровье», который пройдет в Санкт-Петербурге 27-29 октября 2021 года.
					p Опытные волонтёры оказывают организационную и лингвистическую поддержку, движение волонтёров состоит из студентов, выпускников, аспирантов, молодых учёных и сотрудников Университетов.
					p Руководство университетов, профессорско-преподавательский состав убеждены, что работа в качестве волонтеров – уникальная возможность для студентов вузов освоить на практике знания, умения и навыки, которые даются молодежи на занятиях в аудиториях.
			.row.row-cols-3
				.col
					img(src="img/image-1.jpg", alt="")
				.col
					img(src="img/image-2.jpg", alt="")
				.col
					img(src="img/image-3.jpg", alt="")
