
<section>
  <div class="first-block map-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Контакты</h2>
          <h1 class="title">Где нас найти</h1>
          <div id="map"></div>
          <ul class="contacts">
            <li class="icon-phone"><a href="tel:+78125712234">+7 /812/ 571-22-34</a><a href="tel:+79112393036">+7 /911/ 239-30-36</a></li>
            <li class="icon-email"><a href="mailto:sporthealth.spb@gmail.com">sporthealth.spb@gmail.com</a></li>
            <li class="icon-marker">191186, Санкт-Петербург, ул. Малая Морская, д. 8 офис МОО «Спорт, Человек, Здоровье», этаж 2, кабинет 24</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
