
<section>
  <div class="first-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="desc">
            <h2 class="title">программа и мероприятия</h2>
            <h1 class="title">Расписание работы Конгресса*</h1>
            <div class="event">
              <h4>27 октября</h4>
              <p>Регистрация участников, Церемония открытия Конгресса, пленарное заседание,  панельные сессии, открытие выставки.</p>
            </div>
            <div class="event">
              <h4>28 октября</h4>
              <p>Работа научных секций, панельных сессий, круглых столов, мастер-классов, тренингов.</p>
            </div>
            <div class="event">
              <h4>29 октября</h4>
              <p>Заключительное пленарное заседание, награждение молодых авторов лучших научных статей «Перспективная инновационная идея», закрытие Конгресса, культурная программа (экскурсии, выездные площадки:  посещение спортивных объектов Санкт-Петербурга). </p>
            </div>
            <h3>*Организационный комитет Конгресса оставляет за собой возможность внесения корректировки программы. <br/><br/>Полная расширенная версия программы мероприятий Конгресса будет размещена марте-апреле 2021 года.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="program">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Программа и мероприятия</h2>
        </div>
      </div>
      <div class="row row-cols-3">
        <div class="col">
          <h3 style="background-color:#0DA2E0;">27 октября</h3>
          <ul>
            <li>09.00-10.30
              <p>Регистрация участников Конгресса</p>
            </li>
            <li>10.30- 10.50
              <p>Открытие ВЫСТАВКИ «СПОРТ И ЗДОРОВЬЕ»  </p>
            </li>
            <li>11.00- 13.00
              <p>Торжественная церемония открытия Конгресса  </p>
            </li>
            <li>11.00- 13.00
              <p>Приветствия участников Конгресса</p>
            </li>
            <li>11.00- 13.00
              <p>Пленарное заседание</p>
            </li>
            <li>13.00- 14.00
              <p>Пресс-подход</p>
            </li>
            <li>13.00- 14.00
              <p>Работа выставки</p>
            </li>
            <li>13.00- 14.00
              <p>Перерыв (обед)</p>
            </li>
            <li>14.00- 16.00
              <p>Продолжение работы пленарного заседания</p>
            </li>
            <li>16.00- 16.30
              <p>Перерыв (кофе-брейк)</p>
            </li>
            <li>16.30 —18.00
              <p>Работа выставки «Спорт и Здоровье»  (презентация программ выставки)</p>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3 style="background-color:#72C1AD;">28 октября</h3>
          <ul>
            <li>10.00-18.00
              <p>Работа научных секций</p>
            </li>
            <li>10.00-18.00
              <p>Панельные дискуссии</p>
            </li>
            <li>10.00-18.00
              <p>Круглые столы</p>
            </li>
            <li>10.00-18.00
              <p>Конференции</p>
            </li>
            <li>10.00-18.00
              <p>Мастер-классы (тренинги)</p>
            </li>
            <li>10.00-18.00
              <p>Работа выставки «Спорт и Здоровье»</p>
            </li>
            <li>11.30- 12.00
              <p>Перерыв (кофе-брейк)</p>
            </li>
            <li>13.00- 14.00
              <p>Перерыв (обед)</p>
            </li>
            <li>16.00- 16.30
              <p>Перерыв (кофе-брейк)</p>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3 style="background-color:#F97C55;">29 октября</h3>
          <ul>
            <li>10.00-13.00
              <p>Работа выставки</p>
            </li>
            <li>10.00-13.00
              <p>Заключительное пленарное заседание  </p>
            </li>
            <li>10.00-13.00
              <p>Принятие Резолюции Конгресса</p>
            </li>
            <li>10.00-13.00
              <p>Церемония награждения молодых авторов лучших научных статей «Перспективная инновационная идея»</p>
            </li>
            <li>10.00-13.00
              <p>Закрытие Конгресса</p>
            </li>
            <li>13.00- 14.00
              <p>Перерыв (обед)</p>
            </li>
            <li>14.00-18.00
              <p>Культурная программа (экскурсии, выездные площадки)</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Научная программа Конгресса</h2>
          <p>Научная программа будет сконцентрирована на главных темах, заявленных на пленарном заседании основными докладчиками, которые обозначат наиболее важные и актуальные вопросы для рассмотрения на секционных заседаниях. За пленарным заседанием последуют научные секции, время для устных прений и стендовых докладов, панельные сессии, конференции, мастер-классы.</p>
          <h3 style="background-color:#0DA2E0;">28 октября (Научные секции и панельные сессии) </h3>
          <ul>
            <li>Научная секция № 1
              <p>«Историческое наследие П.Ф.Лесгафта в контексте решения современных проблем физической культуры и спорта». </p>
            </li>
            <li>Научная секция № 2
              <p>«Перспективы укрепления и развития Международного олимпийского движения, паралимпийского, сурдлимпийского спорта и Всемирного движения  «Спорт для всех» в мировом спортивном движении».</p>
            </li>
            <li>Научная секция № 3
              <p>«Пути преодоления применения в спорте запрещенных препаратов и методов. Комплексное рассмотрение проблем допинга в современном спорте». </p>
            </li>
            <li>Научная секция № 4
              <p>«Научно-методическое обеспечение спорта высших достижений. Актуальные проблемы современной спортивной подготовки». </p>
            </li>
            <li>Научная секция № 5
              <p>«Психологическое обеспечение современного спорта и занятий неструктурированной умеренно-интенсивной физической активностью». </p>
            </li>
            <li>Научная секция № 6
              <p>«Актуальные проблемы гендерных исследований в современном спорте». </p>
            </li>
            <li>Научная секция № 7
              <p>«Медико-биологическое обеспечение спортивной подготовки и занятий неструктурированной умеренно-интенсивной физической активностью». </p>
            </li>
            <li>Научная секция № 8
              <p>«Медицинское обеспечение спортивной деятельности, лечение и реабилитация в спорте». </p>
            </li>
            <li>Научная секция № 9
              <p>«Коммуникации в спорте и спортивная дипломатия». </p>
            </li>
            <li>Научная секция № 10
              <p>«Мега-проекты в спорте и их наследие».</p>
            </li>
            <li>Научная секция № 11
              <p>«Актуальные вопросы адаптивной физической культуры и адаптивного спорта».</p>
            </li>
            <li>Научная секция № 12
              <p>«Инновационные проекты и передовые практики, направленные на гармоничное развитие личности в системах физической культуры и спорта, здравоохранения  и образования различных стран мира». </p>
            </li>
            <li>Научная секция № 13
              <p>«Перспективы развития подготовки и повышения квалификации кадров для сферы физической культуры и спорта в современных условиях». </p>
            </li>
            <li>Научная секция № 14
              <p>«Актуальные проблемы современных спортивных, прикладных единоборств и боевых искусств». </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
