
<section>
  <div class="first-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="desc">
            <h2 class="title">партнерство</h2>
            <h1 class="title">Стать партнёром Конгресса</h1>
            <p>Если Вас заинтересовала возможность стать партнером  X Международного Конгресса «Спорт, Человек, Здоровье»,  Вы можете заполнить форму, которую найдёте ниже, и мы в ближайшее время свяжемся с Вами. </p>
            <div class="contact-block">
              <h3>КОНТАКТЫ ОРГАНИЗАТОРОВ:<span>Галина Леонтьева:</span></h3>
              <ul class="contacts">
                <li class="icon-phone"><a href="tel:89112393036">8-911-239-30-36</a></li>
                <li class="icon-email"><a href="mailto:sporthealth.spb@gmail.com">sporthealth.spb@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Выставка “Спорт и здоровье”</h2>
          <p>В рамках Программы X Международного Конгресса «Спорт, Человек, Здоровье», пройдет  выставка, в которой примут участие ведущие российские  и международные специалисты в областях практической реализации спортивных проектов, спортивного маркетинга, инвестиций в спорт и пр. для обсуждения актуальных тем развития партнерства в области спорта, здоровья и здорового образа жизни, обмена опытом и успешными практиками, налаживания связей среди профессионального сообщества.</p>
          <p>Выставка как многофункциональное мероприятие позволяет экспоненту одновременно ставить перед собой различные цели и задачи выставок, если поставлена  конкретная цель – это позволяет разработать план их достижения, что неизменно определяет как внешний вид стенда, так и используемые инструменты маркетингового продвижения и рекламной кампании. Для этого используется весь арсенал инструментов от наружной рекламы до раздачи флайеров и развешивания указателей.</p>
          <p>Как показывает практика, все участники выставки получают выгоду – это касается как экспонентов, так и гостей мероприятия. Возможность ознакомления с текущим состоянием дел на отраслевом рынке, изучения новинок, сравнения цен и ознакомления с предлагаемым ассортиментом делает выставку отличной маркетинговой площадкой для любого предприятия на рынке В2В.</p>
          <p>На выставочном пространстве Форума Ваша компания может представить свою продукцию и услуги участникам и гостям Конгресса, наладить деловые контакты, повысить узнаваемость бренда. Создать площадку для обмена опытом и успешными практиками. Наладить и укрепить связи среди профессионального сообщества. </p>
          <h2 class="title">Разделы выставки</h2>
          <h3 style="background-color:#2263A8;">Маркетинг и менеджмент в сфере спорта, здоровья и красоты </h3>
          <ul style="color:#2263A8;">
            <li>
               Подготовка специалистов, повышение квалификации</li>
            <li>ВУЗы, НИИ, Центры повышения квалификации, учебные центры </li>
            <li>Семинары и тренинги, курсы </li>
            <li>Реклама и PR </li>
            <li>СМИ </li>
            <li>Другие </li>
          </ul>
          <h3 style="background-color:#72C1AD;">Лечение и Профилактика </h3>
          <ul style="color:#72C1AD;">
            <li>Издательства просветительской, учебной и медицинской литературы</li>
            <li>Лечебные учреждения, научно-исследовательские и практические центры</li>
            <li>Оздоровительные и реабилитационные центры, врачебно-физкультурные диспансеры, курортно-санаторные учреждения</li>
            <li>Фармакологические компании и фармацевтические учреждения</li>
            <li>Компании по медицинскому страхованию</li>
            <li>Производители и поставщики комплексного оснащения врачебных кабинетов, лечебных заведений, санаториев и домов отдыха. Оборудование и мебель для профильных медицинских учреждений</li>
            <li>Центры биологических исследований, лабораторная медицина. Антидопинговые лаборатории. Контрольно-аналитические лаборатории. Производители и поставщики тест-систем </li>
            <li>Медицинская техника, оборудование и диагностика</li>
            <li>Производители и поставщики медицинских инструментов</li>
            <li>Травматология и ортопедия</li>
            <li>Производители и поставщики форменной и специальной одежды </li>
            <li>Другие</li>
          </ul>
          <h3 style="background-color:#F97C55;">Реабилитация  </h3>
          <ul style="color:#F97C55;">
            <li>Учреждения по восстановительной терапии и реабилитации</li>
            <li>Производители и поставщики физиотерапевтического оборудования. Производители приборов и устройств для реабилитации </li>
            <li>Спортивная индустрия и оборудование</li>
            <li>Производители товаров и услуг в сфере курортологии </li>
            <li>Производители и поставщики продуктов здорового питания</li>
            <li>Общеукрепляющие тренажеры и тренажеры для адаптивной физкультуры</li>
            <li>Производители и поставщики бассейнов и саун</li>
            <li>Геронтологические центры </li>
            <li>Производители и поставщики средств личной гигиены </li>
            <li>Производители и поставщики ортопедических устройств и аппаратов</li>
            <li>Производители и поставщики мебели и оборудования для курортно-санаторных учреждений, реабилитационных центров</li>
            <li>Производители оборудования для детских площадок</li>
            <li>Курортология </li>
            <li>Оборудование и технологии массажа </li>
            <li>Сертификация продукции. Сертификация и патентование инновационных продуктов в сфере реабилитации </li>
            <li>Фито-и ароматерапия</li>
            <li>Диетическое питание </li>
            <li>Биологические активные добавки (БАДы)</li>
            <li>Минеральные воды </li>
            <li>Гомеопатия</li>
            <li>Специализированные издательства и интернет-порталы </li>
            <li>Другие</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Место проведения</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p> <strong>Парк Инн Рэдиссон «Прибалтийская» </strong>- крупнейший конгресс-отель в Санкт-Петербурге.</p>
          <p> <strong>Адрес: </strong>Россия, г. Санкт-Петербург, ул. Кораблестроителей, д. 14.</p>
          <p>Для организации Выставки используются Конгресс-зал  <strong>Blue 4</strong>, общей площадью 570 кв. м. </p><a href="#">Перейти на сайт отеля</a>
          <div class="row">
            <div class="col-6"><img src="img/photo-8.jpg" alt=""/></div>
            <div class="col-6"><img src="img/photo-9.jpg" alt=""/></div>
          </div>
        </div>
        <div class="col-6">
          <div id="map"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Общая информация</h2>
          <h4>УСЛОВИЯ УЧАСТИЯ</h4>
          <p>Компания, желающая принять участие в выставках, направляет Организатору заявку не позднее 1 сентября 2021 года, после чего она регистрируется в качестве Экспонента. На основании заявки Организатор направляет Экспоненту проект договора и счет на оплату. </p>
          <h4>ВЫСТАВОЧНАЯ ПЛОЩАДЬ</h4>
          <p>Площадь стенда может составлять 2х2 (4 кв. м.), 2х3 (6 кв. м), 3х3 (9 кв. м), 4х3 (12 кв. м.), 4х5 (20 кв. м.)  Возможна <strong>индивидуальная застройка </strong>согласно пожеланиям Экспонента. </p>
          <h4>ЗАСТРОЙКА</h4>
          <p>Стандартная застройка предполагает возведение стенда из конструктива и стеновых панелей. Высота стенда в сборе <strong>2,5 метра. </strong>Стенд оснащается стандартной фризовой панелью.</p>
          <p>Перечень оборудования, входящего в базовую комплектацию, зависит от категории стенда и его площади. На стенде может быть установлено дополнительное оборудование согласно пожеланиям Экспонента (стоимость согласовывается в индивидуальном порядке).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Варианты выставочных стендов категории “Стандарт”</h2>
          <h3 style="background-color:#2263A8;">Стенд 2х2 (4 кв. метра) </h3>
        </div>
        <div class="col-4">
          <h4>Комплектация</h4>
          <ul style="color:#2263A8;">
            <li>Стены модуля</li>
            <li>Фризовая панель</li>
            <li>Стол</li>
            <li>2 стула</li>
            <li>Корзина для бумаг </li>
            <li>Спот-бра (освещение) </li>
            <li>Электрическая розетка 220 v, 1кВт </li>
          </ul>
        </div>
        <div class="col-4"><img src="img/photo-10.jpg" alt=""/></div>
        <div class="col-4"><img src="img/photo-11.jpg" alt=""/></div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Варианты выставочных стендов категории “Стандарт”</h2>
          <h3 style="background-color:#72C1AD;">Стенд 2х2 (4 кв. метра) </h3>
        </div>
        <div class="col-4">
          <h4>Комплектация</h4>
          <ul style="color:#72C1AD;">
            <li>Стены модуля</li>
            <li>Фризовая панель</li>
            <li>Стол</li>
            <li>2 стула</li>
            <li>Корзина для бумаг </li>
            <li>Спот-бра (освещение) </li>
            <li>Электрическая розетка 220 v, 1кВт </li>
          </ul>
        </div>
        <div class="col-4"><img src="img/photo-12.jpg" alt=""/></div>
        <div class="col-4"><img src="img/photo-13.jpg" alt=""/></div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Варианты выставочных стендов категории “Стандарт”</h2>
          <h3 style="background-color:#F97C55;">Стенд 2х2 (4 кв. метра) </h3>
        </div>
        <div class="col-4">
          <h4>Комплектация</h4>
          <ul style="color:#F97C55;">
            <li>Стены модуля</li>
            <li>Фризовая панель</li>
            <li>Стол</li>
            <li>2 стула</li>
            <li>Корзина для бумаг </li>
            <li>Спот-бра (освещение) </li>
            <li>Электрическая розетка 220 v, 1кВт </li>
          </ul>
        </div>
        <div class="col-4"><img src="img/photo-14.jpg" alt=""/></div>
        <div class="col-4"><img src="img/photo-15.jpg" alt=""/></div>
        <div class="col-12">
          <div class="files">
            <p>Со списком дополнительного выставочного оборудования Вы можете ознакомиться в файле:</p><a href="#">СПИСОК ДОПОЛНИТЕЛЬНОГО ОБОРУДОВАНИЯ</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Порядок внесения взноса</h2>
          <p>После регистрации заявки на участие в выставке и получения счета Экспонент производит авансовый платеж в следующие сроки:</p>
          <ul style="color:#939393;">
            <li>В случае заключения договора менее чем за 6 календарных месяцев до даты проведения выставки: в размере 70 % от стоимости услуг по договору в течение 5 банковских дней со дня получения счета; </li>
            <li>В случае заключения договора более чем за 6 календарных месяцев до даты проведения выставки: в размере 50 % от стоимости услуг по договору в течение 5 банковских дней со дня получения счета. </li>
          </ul>
          <p>Полное внесение взноса за участие должно быть произведено не позднее 30 дней до начала монтажа выставки - 26 сентября 2021 г. </p>
          <p>Организатор вправе аннулировать регистрацию компании в качестве Экспонента, не подтвердившей внесение взноса в установленные сроки. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="title">Пакеты участников Выставки “Спорт и здоровье” 2021</h2>
          <table>
            <tr>
              <th>номер пакета</th>
              <th>пакет #1</th>
              <th>пакет #2</th>
              <th>пакет #3</th>
              <th>пакет #4</th>
              <th>пакет #5</th>
            </tr>
            <tr>
              <td>размеры стенда</td>
              <td>4 кв. метра</td>
              <td>6 кв. метров</td>
              <td>9 кв. метров</td>
              <td>12 кв. метров</td>
              <td>20 кв. метров</td>
            </tr>
            <tr>
              <td>стоимость</td>
              <td> <strong>50 000 руб.</strong>с учетом НДС</td>
              <td> <strong>100 000 руб.</strong>с учетом НДС</td>
              <td> <strong>150 000 руб.</strong>с учетом НДС</td>
              <td> <strong>200 000 руб.</strong>с учетом НДС</td>
              <td> <strong>250 000 руб.</strong>с учетом НДС</td>
            </tr>
            <tr>
              <td>регистрационный  взнос*</td>
              <td> <strong>15 000 руб.</strong>с учетом НДС</td>
              <td> <strong>15 000 руб.</strong>с учетом НДС</td>
              <td> <strong>15 000 руб.</strong>с учетом НДС</td>
              <td> <strong>15 000 руб.</strong>с учетом НДС </td>
              <td>Включен в стоимость пакета</td>
            </tr>
            <tr>
              <td>описание</td>
              <td>Аренда выставочного места и застройка выставочного стенда.  Комплектация стандартная. </td>
              <td>Аренда выставочного места и застройка выставочного стенда.  Комплектация стандартная. </td>
              <td>Аренда выставочного места и застройка выставочного стенда.  Комплектация стандартная. </td>
              <td>Аренда выставочного места и застройка выставочного стенда “Улучшенный стандарт”. </td>
              <td>Аренда выставочного места и застройка выставочного стенда “Улучшенный стандарт”. </td>
            </tr>
          </table>
          <p>*Регистрационный взнос оплачивается отдельно, включает участие в конгрессе одного представителя компании с вручением сертификата об участии и питание (обед-фуршет)</p>
          <h4>ПРЕДЛОЖЕНИЯ ДЛЯ ЭКСПОНЕНТОВ </h4>
          <p>Размещение логотипа на пресс-волле выставки, печатных и полиграфических материалах – «Сборник Материалов Конгресса» и/или «Программа Конгресса» — информацию подать до <strong>01 сентября 2021 г.</strong></p>
          <h4>ДОПОЛНИТЕЛЬНЫЕ ОПЦИИ ДЛЯ УЧАСТНИКОВ</h4>
          <ul style="color:#939393;">
            <li>Возможность проведения сателлитных симпозиумов и выступление с докладом: оговаривается индивидуально. </li>
            <li>Экспонент может заказать индивидуальный дизайн выставочного стенда – стоимость будет сформирована исходя из конструкции и технических характеристик. </li>
            <li>Участие каждого дополнительного представителя оплачивается отдельно в размере 15 000 руб. за одного представителя.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
