
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title">Заголовок с призывом <br/>к действию</h2><a class="btn icon-arrow-right" href="#">зарегистрироваться</a>
      </div>
      <div class="col-2"><a class="logo" href="/"><img src="img/logo-white.svg" alt="#"/></a></div>
      <div class="col-10">
        <ul class="menu dfr justify-content-between">
          <li><a href="#">Конгресс</a></li>
          <li><a href="#">Программа и мероприятия</a></li>
          <li><a href="#">Сервисы</a></li>
          <li><a href="#">Стать партнёром</a></li>
          <li><a href="#">Аккредитация СМИ</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="contacts">
          <li class="icon-marker">191186, Санкт-Петербург, ул. Малая Морская, д. 8 офис МОО «Спорт, Человек, Здоровье», этаж 2, кабинет 24</li>
          <li class="icon-phone"><a href="tel:+78125712234">+7 /812/ 571-22-34</a><a href="tel:+79112393036">+7 /911/ 239-30-36</a></li>
          <li class="icon-email"><a href="mailto:sporthealth.spb@gmail.com">sporthealth.spb@gmail.com</a></li>
        </ul>
        <p class="copyright">Copyright © 2021 Международный Научный Конгресс "Спорт, Человек, Здоровье". Создано на WordPress</p>
      </div>
    </div>
  </div>
</footer>
