
<section>
  <div class="first-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="desc">
            <h2 class="title">программа и мероприятия</h2>
            <h1 class="title">Расписание работы Конгресса*</h1>
            <div class="event">
              <h4>27 октября</h4>
              <p>Регистрация участников, Церемония открытия Конгресса, пленарное заседание,  панельные сессии, открытие выставки.</p>
            </div>
            <div class="event">
              <h4>28 октября</h4>
              <p>Работа научных секций, панельных сессий, круглых столов, мастер-классов, тренингов.</p>
            </div>
            <div class="event">
              <h4>29 октября</h4>
              <p>Заключительное пленарное заседание, награждение молодых авторов лучших научных статей «Перспективная инновационная идея», закрытие Конгресса, культурная программа (экскурсии, выездные площадки:  посещение спортивных объектов Санкт-Петербурга). </p>
            </div>
            <h3>*Организационный комитет Конгресса оставляет за собой возможность внесения корректировки программы. <br/><br/>Полная расширенная версия программы мероприятий Конгресса будет размещена марте-апреле 2021 года.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="title">Подача научных материалов </h2>
          <h4>ДО 20 ИЮЛЯ 2021 НАУЧНЫЙ КОМИТЕТ ОПРЕДЕЛИТ АВТОРОВ СТАТЕЙ ДЛЯ ВКЛЮЧЕНИЯ В КАЧЕСТВЕ ДОКЛАДЧИКОВ В НАУЧНУЮ ПРОГРАММУ КОНГРЕССА И МОЛОДЫХ АВТОРОВ ЛУЧШИХ СТАТЕЙ ДЛЯ НАГРАЖДЕНИЯ В НОМИНАЦИИ «ПЕРСПЕКТИВНАЯ ИННОВАЦИОННАЯ ИДЕЯ». </h4>
          <p>Для <strong>НЕЗАРЕГИСТРИРОВАННЫХ </strong>участников: необходимо пройти <strong>РЕГИСТРАЦИЮ </strong>на сайте Конгресса, зайти в <strong>ЛИЧНЫЙ КАБИНЕТ, </strong>используя логин и пароль, полученный при регистрации, и нажать на «Загрузить статью доклада».</p>
          <p> <strong>Содержание статей должно соответствовать тематическим направлениям секционных заседаний Конгресса.</strong></p>
          <h2 class="title">Требования и рекомендации к оформлению статей</h2>
          <ul style="color:#939393;">
            <li>
              <p>Материалы должны быть оформлены в соответствии с требованиями, подаются на русском или английском языках  (переводы, выполненные при посредстве автоматического онлайн — переводчика без соответствующей редактуры не принимаются). </p>
            </li>
            <li>
              <p>Объем статьи – <strong>до 6-х полных страниц </strong>формата А4, включая список литературы, таблицы и рисунки, ориентация листа – «книжная». </p>
            </li>
            <li>
              <p>Текстовый редактор: Microsoft Word  для Windows версии от 6.0 и выше.</p>
            </li>
            <li>
              <p>Поля страницы: верхнее, нижнее, правое — 2,0 см, левое 3,0 см.</p>
            </li>
            <li>
              <p>Тип шрифта: Times New Roman, размер шрифта – 14 pt. </p>
            </li>
            <li>
              <p>Межстрочный интервал – полуторный, выравнивание по ширине страницы. Без переносов.</p>
            </li>
            <li>
              <p>Абзацный отступ, одинаковый по всему тексту — 1,0 см.</p>
            </li>
          </ul>
          <h2 class="title">Рекомендуемая схема построения стратьи</h2>
          <ul style="color:#939393;">
            <li>
              <p>Номер и название секции Конгресса.</p>
            </li>
            <li>
              <p>Название статьи на русском и английском языках: шрифт 14, стиль Times New Roman, заглавными буквами, жирный, форматирование — по центру страницы. </p>
            </li>
            <li>
              <p>Фамилии и инициалы авторов, звание, ученая степень на русском и английском языках: под заголовком, шрифт 14, стиль Times New Roman, форматирование — по центру страницы.</p>
            </li>
            <li>
              <p>Сокращенное официальное название организации на русском и английском языках: под фамилиями и инициалами авторов, шрифт 14, стиль Times New Roman, форматирование — по центру страницы. </p>
            </li>
            <li>
              <p>Город и страна на русском и английском языках (указывать для каждого автора): под названием организации, шрифт 14, стиль Times New Roman, форматирование — по центру страницы. </p>
            </li>
            <li>
              <p>Краткая <strong>аннотация </strong>статьи на русском и английском языках (до 500 знаков с пробелами). </p>
            </li>
            <li>
              <p>Ключевые слова (на русском и английском языках). </p>
            </li>
            <li>
              <p>Краткое введение.</p>
            </li>
            <li>
              <p>Методы исследования (материалы и методы). </p>
            </li>
            <li>
              <p>Результаты исследований и их анализ.</p>
            </li>
            <li>
              <p>Заключение (выводы).</p>
            </li>
            <li>
              <p>Количество соавторов в одной статье допускается не более 4-х. </p>
            </li>
            <li>
              <p>На все библиографические источники, представленные в публикации, должны быть ссылки по тексту статьи: оформление по ГОСТу 7.0.5-2008. </p>
            </li>
            <li>
              <p>Библиографический список в алфавитном порядке размещается в конце статьи: оформление по ГОСТу Р 7.0.100-2018. </p>
            </li>
            <li>
              <p>Сноски в тексте статьи размещают в квадратных скобках непосредственно в тексте или в конце предложения, указывая первым номер источника по списку литературы, затем, через запятую, номер страницы, точка в конце предложения ставится после квадратных скобок, например [1, с. 21].</p>
            </li>
            <li>
              <p>Рисунки (графики), размещенные в тексте, должны быть черно-белые и представлены как отдельные файлы.</p>
            </li>
            <li>
              <p>Каждая статья оформляется как отдельный файл.</p>
            </li>
          </ul>
          <h2 class="title">Виды докладов</h2>
          <ul style="color:#939393;">
            <li>
              <p>Выступление на пленарных заседаниях. Не более 20-25 мин.</p>
            </li>
            <li>
              <p>Выступление на панельных сессиях. Не более 15-20 мин.</p>
            </li>
            <li>
              <p>Выступление на секциях. Не более 10 -12 мин. (Ведущие доклады на секциях – 15-20 мин.)</p>
            </li>
            <li>
              <p>Стендовые доклады должны быть представлены на листе ISO216: ширина -0,841 м, высота — 1,189 м. Авторы стендового доклада должны присутствовать согласно программе для ответов на вопросы.</p>
            </li>
          </ul>
          <h2 class="title">Материалы конгресса</h2>
          <p>По итогам Конгресса будет издан печатный и электронный Сборник материалов, в который будут включены статьи докладов участников Конгресса. Сборник будет размещен на сайте Конгресса.</p>
          <p>Статьи включаются в печатный и электронный Сборники научных материалов Конгресса после их одобрения научным комитетом Конгресса и оплаты взноса за публикацию <strong>(оплата публикации производится только после подтверждения научным комитетом принятия материалов к публикации).</strong></p>
          <p>Научный комитет сохраняют за собой право отклонить статьи, которые не соответствуют тематическим направлениям Конгресса или требованиям оформления, или присланы позднее <strong>01 июля 2021 г.</strong>, а также на итоговое редактирование статей после устранения замечаний научного комитета. </p>
          <p>Автор может подать не более двух статей (в том числе в соавторстве).</p>
          <p>Уведомление авторов о статусе публикации статьи в Сборнике, о включении в программу устных или стендовых докладов — не позднее 01 августа 2021 г.</p>
          <h2 class="title">Требования и рекомендации к оформлению стендовых докладов</h2>
          <ul style="color:#939393;">
            <li>
              <p> Главное требование к постеру — четкое изложение основных моментов исследования, отсутствие второстепенных сведений. </p>
            </li>
            <li>
              <p>Информацию следует располагать вертикально на листе формата А1 (841 х 594 мм).</p>
            </li>
            <li>
              <p>Использовать минимум текста (не более 25 % от всего материала).</p>
            </li>
            <li>
              <p>Отдавать предпочтение простым предложениям и спискам.</p>
            </li>
            <li>
              <p>Для выделения названий разделов и подразделов использовать жирный шрифт или буквы большего размера.</p>
            </li>
            <li>
              <p>Размер шрифта должен быть достаточным для свободного чтения с расстояния одного-двух метров: основной текст не менее 24 pt, заголовки — 28—44 pt.</p>
            </li>
            <li>
              <p>Использовать шрифты класса sans serif, например, Arial или Helvetica (в отличие от традиционного Times New Roman, они лучше подходят для чтения на расстоянии).</p>
            </li>
            <li>
              <p>Цвет текста должен контрастировать с фоном, негласное правило — темный текст на светлом фоне и наоборот.</p>
            </li>
            <li>
              <p>Графический материал должен быть разнообразным: таблицы, рисунки, диаграммы, фотографии.</p>
            </li>
            <li>
              <p>Все иллюстрации должны иметь достаточное разрешение (не менее 300 точек на дюйм), чтобы избежать проявления пикселей.</p>
            </li>
            <li>
              <p>Постер должен читаться, начиная от левого верхнего угла и заканчивая нижним правым.</p>
            </li>
            <li>
              <p>В верхней части постера следует поместить название стендового доклада, ФИО автора.</p>
            </li>
            <li>
              <p>Вспомогательные разделы (контактная информация, благодарности, литература) располагаются внизу постера, более мелким шрифтом.</p>
            </li>
            <li>
              <p>При размещении информации следует учитывать, что оптический центр листа обычно на 1/8 выше геометрического. </p>
            </li>
            <li>
              <p>Кроме размещаемого на вертикальной поверхности постера, докладчик может иметь с собой раздаточные материалы для заинтересованных посетителей (уменьшенные копии постера, перевод на другие языки, визитные карточки автора и др.). </p>
            </li>
          </ul>
          <p> <strong>Стендовый доклад должен иметь перевод на английский язык. </strong>Перевод может размещаться на самом постере, либо, в целях экономии пространства, содержаться в раздаточных материалах.</p>
          <p> <strong>Изготовление стендового доклада является целиком обязанностью докладчика. </strong>Организационный комитет конгресса не занимается изготовлением постеров, их печатью и доставкой до места проведения стендовых сессий.</p>
          <p> <strong>Докладчик должен присутствовать на стендовой сессии в заранее оговоренный Организационным комитетом день и время. </strong>При опоздании докладчика постерный доклад исключается из программы стендовой сессии.</p>
          <p> <strong>Перечень постерных презентаций будет включен в аннотированную программу Конгресса. </strong>Для включения в программу докладчик должен до 01 августа 2021 г. направить в Организационный комитет заявку на участие со стендовым докладом, содержащую следующую информацию на русском и английском языках (перевод должен выполняться профессиональным переводчиком, заявки, содержащие машинный перевод, к рассмотрению не принимаются):</p>
          <ul style="color:#939393;">
            <li>
              <p>Название стендового доклада; </p>
            </li>
            <li>
              <p>ФИО, звание, ученая степень (при наличии), место работы и должность докладчика;</p>
            </li>
            <li>
              <p>Email и мобильный телефон докладчика.</p>
            </li>
          </ul>
          <h4> <strong>Внимание! Дублирование содержимого устного доклада стендовым постером НЕ ДОПУСКАЕТСЯ!</strong></h4>
          <p>Приём заявок на участие со тендовым докладом завершается <strong>01 авуста 2021 г.</strong></p>
          <h2 class="title">Контакты и отвественные лица</h2>
          <p>Заявки на проведение стендовых докладов просим направлять на электронную почту Конгресса: <a href="mailto:sporthealth.spb@gmail.com">sporthealth.spb@gmail.com </a></p>
          <div class="row">
            <div class="col-6">
              <div class="blue-block">
                <h4>Координатор проведения стендовых сессий:  </h4>
                <p>(курирование стендовых сессий, техническая поддержка стендовых докладчиков, подготовка пространства, размещение постеров, вопросы по оформлению)</p>
                <h5>Орешкина Екатерина Павловна </h5>
                <ul class="contacts">
                  <li class="icon-phone"><a href="tel:+78125712234">+7 /812/ 571-22-34</a><a href="tel:+79112393036">+7 /911/ 239-30-36</a></li>
                  <li class="icon-email"><a href="mailto:sporthealth.spb@gmail.com">sporthealth.spb@gmail.com</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="green-block">
                <h4>Ответственный за составление научной программы Конгресса:</h4>
                <h5>Ашкинази Сергей Максимович</h5>
                <ul class="contacts">
                  <li class="icon-email"><a href="mailto:sporthealth.spb@gmail.com">sporthealth.spb@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
