
<section>
  <div class="first-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="desc">
            <h2 class="title">конгресс</h2>
            <h1 class="title">Официальные языки Конгресса –  английский и русский</h1>
            <h3>На конгрессе будет обеспечен синхронный перевод всех заседаний.</h3>
            <p>Патронат Конгресса осуществляют Совет Европы, ТАФИСА, под эгидой Комиссии Российской Федерации по делам ЮНЕСКО, при поддержке Министерства спорта Российской Федерации, Олимпийского комитета России, Правительства Санкт-Петербурга.</p>
          </div>
        </div>
        <div class="col">
          <div class="item"><img src="img/img-1.png" alt="#"/></div>
        </div>
        <div class="col">
          <div class="item"><img src="img/img-2.png" alt="#"/></div>
        </div>
        <div class="col">
          <div class="item"><img src="img/img-3.png" alt="#"/></div>
        </div>
        <div class="col">
          <div class="item"><img src="img/img-4.png" alt="#"/></div>
        </div>
        <div class="col">
          <div class="item"><img src="img/img-5.png" alt="#"/></div>
        </div>
        <div class="col">
          <div class="item"><img src="img/img-6.png" alt="#"/></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Студенческое волонтерское движение</h2>
          <p>Студенты Национального государственного Университета физической культуры, спорта и здоровья имени П.Ф. Лесгафта, Российского Государственного Педагогического Университета имени А.И. Герцена, Санкт-Петербургского Государственного Университета, проводят большую работу в Санкт - Петербурге, организуя Олимпийские уроки, спортивные праздники, показательные выступления и мастер-классы.</p>
          <p>Одним из основных направлений деятельности студентов данных университетов является волонтёрство. Волонтёрское движение — это форма гражданского участия в общественно полезных делах. Волонтёрская деятельность наряду с высоким нравственным значением, играет огромную роль в развитии и совершенствовании профессиональных качеств.</p>
          <p>Волонтеры данных вузов с 2013 года принимают активное участие в проведении Международных Конгрессов «Спорт, Человек, Здоровье».</p>
          <p>25-27 апреля 2019 года прошёл IX Международный Конгресс. </p>
          <p>Организационный Комитет Конгресса «Спорт, Человек, Здоровье» высоко ценит сотрудничество с волонтерскими движениями вышеуказанных вузов и в очередной раз планирует взаимодействие в организации и проведении  юбилейного X Международного научного Конгресса        «Спорт, Человек, Здоровье», который пройдет в Санкт-Петербурге 27-29 октября 2021 года. </p>
          <p>Опытные волонтёры оказывают организационную и лингвистическую поддержку, движение волонтёров состоит из студентов, выпускников, аспирантов, молодых учёных и сотрудников Университетов. </p>
          <p>Руководство университетов, профессорско-преподавательский состав убеждены, что работа в качестве волонтеров – уникальная возможность для студентов вузов освоить на практике знания, умения и навыки, которые даются молодежи на занятиях в аудиториях. </p>
        </div>
      </div>
      <div class="row row-cols-3">
        <div class="col"><img src="img/image-1.jpg" alt=""/></div>
        <div class="col"><img src="img/image-2.jpg" alt=""/></div>
        <div class="col"><img src="img/image-3.jpg" alt=""/></div>
      </div>
    </div>
  </div>
</section>
