doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Test Pug Page
		link(href="css/main.css" rel="stylesheet")
		link(href="css/jquery.fancybox.min.css" rel="stylesheet")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet")
		link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
		link(rel='manifest' href='favicon/site.webmanifest')
		link(rel='mask-icon' href='favicon/safari-pinned-tab.svg' color='#5bbad5')
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='theme-color' content='#ffffff')
	body.inner-page
		include layout/header.pug
		include layout/scientific-materials-content.pug
		include layout/footer.pug
		script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4fXK9pf6MNtyg4LBe2Z-QJV_gsayD4mc&callback=initMap" )
		script(src="js/build.js")
